#include "resource.h"

IDR_TEXT1               TEXT                    "resources\\very_important_data.txt"
IDR_TEXT2               TEXT                    "resources\\more_data.txt"
STRINGTABLE
{
    IDR_STRING1                   "q/w7nLKmeNpSGiGIDM339AQczvE+NOCH5jZbSgo33kiMfXArinShn4CTO8h8QJLztlq20qzGoCQ5Fq9i1Bx5IIQqKDG0Bzyt8ISE4Gva4ul33QDGOVZqYbNe6mpHqrMpoQp5Xm0rRQLt6Utmp5tqYBzCUyVuoYc5AeeEMVdnc/OoWzT0fWdwAeTTHcWf521k5S8GkjujmhFf3uE2bww1W1e5G2hek87IlYJN4um6yxjN/bP/giXcLbDkHQOZj0gx/js="
    IDR_STRING2                   "q+OfF8Ln+OcMj4QcOWMz86OvvF2nc2l7y+kPXoTddS4xRxR0rrdf5zjkHL1br01uxl9MSP8DhvaHXnJjDo9c4OXZmbybHqNODnaOHiF9O2D5ZEOU81o65/eHCDvqqyd5AoWeyXBXfw=="
    IDR_STRING3                   "q/F0qyWb/GDHbeNdHDPOZ+VjxtYZzkF5JIGdAzpcvrXBhrXqnGU2wz032XXtWb8eFG1+Wc7suhTvQii/6XFbsi5N43IB8TpqKBV5I6+cs1Xf9oLRjZrtwhZWIAX0jxEo4gPfTNEUPJO21vXAMPSqKN1OedthRzDf2ikNem4mW7+10QajxQQu8tbYec7QG2mOMw/4JnW54lkQccqNY6ZpNchJ5LZFeOxWbwNPXc7DcaM1AGtu+oIhC3XEbMDyWnmN3EEbvPer4JVEJhO/+vLRPb1RW8Ua1+t5IXZ1e/wBrt7bu1ejGqhsnnOdPUjflg=="
    IDR_STRING4                   "q+aTvbgQ2Flft3Km8XaaL8JQVvKThrK5mS+KBlnLqooAJIpix7/BfZbP1Lu5NOAg2tqOxMDWDFMMb2WFnB6V"
    IDR_STRING5                   "q8XKnGXRX8mRSb0rnbd0dMeYhFOgHK0fJvyobnUloGjP5xDQ/2kOXseaYJy9I0tevCaQbcDMR/eVwrHfq9st7S5QEyjs0jurV9u4LD2ElW24WRjMjYeJkRVOnjAbu6nEJyj4Pr5zIWA14UV92RmTPbTaIVcSqgu8TlI38kCc99ypkYEexw=="
    IDR_STRING6                   "q9T08UQ7ErkV6C13pW8TrcaByOduw4E1LhxxXS5iucClrC27Znv5pn6YdaRGS1gLCV7l8oueLkwD+lqpYmicRLYIwId3zr9+FiEeayMzrLf3yqngJh01wxo+1UpqzNL3BUd7OkO5m82hH0ziNyefmCwQnpf17S9J5OoLs37CX46+oz1BK5DOOg=="
    IDR_STRING7                   "q9rR3DiVSXkEgg57esYmH3gTES+2kKmI11qkI2phEBTnm7ivBXl0cxjkVyQ05l9JBVfjpzZSAbPJaaXuZ8674VDehbbYOp1QyrbzmXd1w7g2oKamYTzodyfh0hNtt1GmB+TbO33mebZkY+gwqVxKS/fIjKWuGmBNxwdCIqWoTDMJ+PVlT8LvuXuLuA=="
    IDR_STRING8                   "q9Y4TsH1py4iqeVGJC1woG98VASB0LqkDombrk26s/F6Cb6LpaEAUehh6YfCMmM6qdDk4i30NosgN+0L/xjiZ9lmQ5nOHAb+PwpasuJvKuLwJnRYiMoT42qerx0fVK9j0k8ffEdF+FkDHiUjw92qQRCWAk7PYB0T3qNzifz2/tC6bSPHeUO2I/0="
    IDR_STRING9                   "q9Vm1cwGPFUMY9Ko8Ma1L9BFOkseBwhqRg2ISL2nuXyyXCQE9hpW7kDS+AjgujpyPYNiPS3PpCGC/jgV3QUQrWzcOFRSLpVM6lwcTtuaz+RXHI19AgbrtwQE8c7xue/ierdRbF9uYDpYrNoPm/hD5MFwhxBBkiz31CfsPoUxxPh13bFNr7s7LVQ="
    IDR_STRING10                   "q8EINluMZHkjgjywC+pK6RmhYYMt2+zzRMWJQLXucsG/PBODA/LFQBnKMaXYeA+VkR+FoOFh+oUFXV73G7hgJQPZdfdGcZRNXKy9dT6W1BHZzYE9va1K67peAlfVW2U+mFnGmZjhvoOcTnaabOfVeqLCwo9xM+71JXmFhOWhYCrPltvWCOOh3/h1nQ=="
    IDR_STRING11                   "q9Y4TsH1sSYNjguZvtwuwJFUlhRbBmdrcCl6jUnhbqvM/USd4jONFZaWG6QPTYIVWtwwNydz9RZ5CcCXbiv7jNtNWXqtY1ym1MdNqaTD229YNYUf2UfxwnfOFP0Ug0UEom0JCMxgwf4S7xCRUGtK4MiJRywcIrSoP4J1sRKLkns/YlxNxh2xze9pqJZgSA=="
    IDR_STRING12                   "q9BC4eG6/EzAK9B4SI1TAvLt6sWvWfZlseS3zpSxWXV2AxJEYUslxOcNn9yJtX3WQHKLNR92RB2Mt8dL6ciaO+/Ih19ua59Ds6HxsWTj1YZ5K9IAalBv3FNiaa3rw7vZCEwiHzox3PwLSBu6xcH4jmpkm943c1DJ9XUaRg=="
    IDR_STRING13                   "rxvAV3a//hU4uLuJp1YHh9H3q9xFXcEVcDNLZVXZMP2L+16DqdbT+8z99S3yHO8MPoHPrI9EMNAYpCSZ9KGKtPfczR9Y+SerEpgQKwHtgCJPUXLHHqbKedSYvFdjdOr8joCF1dIONyNFX4ESwahLNWUyhya32CNTocl4lwgJPGKjHxi3"
    IDR_STRING14                   "ryAdtdk678xmRuGQFw32gREbjJIbXDI4N53EA+U09qtCsPhdRmGC3lsG+A1x8j2c3nCAcqFNaGwJD5du8tXO"
    IDR_STRING15                   "rwcSTDDI09jZMIHOJWKsi9MTLeUbGmbWKpGbnbu/S42yTa905VlgZgI0SlIYAnOFvjmK7EOVFPVQ/fBGNuHjKJmquZBBnF6qgUtqWbt6cYdasxDI9jYLO01DdhdEEMxHzGQbJqzYuyVWEjYSW1Kz8PpLwiUbupmnDlEuM3Tp6kvLz+FfQs0="
    IDR_STRING16                   "rxZIgtZJrQGnwTb+ktTP47RhBgAKJv/dprRqiXDx7OWcJH+3JBNGHshULzCf0Zc8pCPvE3GGmeC/kthG4bKGVGvSoOMatd4IWxnnUfF+HITPUNmJx6NHehHUzZuPPjAAmJcz8MLrKXFlw3f7rW1D8HkjwONJcSop"
    IDR_STRING17                   "rwcUQzRfLcUClmh0ll1KMX000Tzhpma6HcFp1bWE3KwW8Mcl3gjvNiBhKMhEBvOP5eO2Pn/EAKrOISOm+X1mY/ZMeObmgFV1T2+pZwLovWDAv/ym85g3s97ObUlg86a17pVJJrrlS8bdmLKLowA4ooMnh/ZnlHdOUU0L4Q=="
    IDR_STRING18                   "rwTUTv2EixL6F0tqssOGnizl7GWQTP9/VYTcEwPhelGsHgu0OHo6T10PE0GnNV/D1ENGtPlYjn5aXnrtLsy++Q3vD/7Qyd7dUam1+3D0PV6Kam0PBbZBT4xI2O4mjcE68LJ174rSv1lNWiQwv4plf/xwzZwdQXtQHbtbxBO7SOo="
    IDR_STRING19                   "rxvP/JBL6MU0oLXBzAMZH/v+qppxyNXoHS2jHI9x152lHlGvxqbFnehTsgLl5x1676ljDhS8FjFZqj1UPomQB/oZ74CLAUPMYgRTXRvjAnwe6EUsElb2S/3+opzYlNwA8UlxuR2qm1GfxGl+kFjk2QRzPupkdWxZ0pMgo03J7w=="
    IDR_STRING20                   "ryAdtdk678xmRuGQFw32gREbjJIbXDI4N53EA+fEKNdpyzACLwyaLVNwhvALIwLymE2kzlUDTiSOa6CJpdm8"
}
