#include "resource.h"

IDR_TEXT1               TEXT                    "resources\\very_important_data.txt"
IDR_TEXT2               TEXT                    "resources\\more_data.txt"
STRINGTABLE
{
    IDR_STRING1                   "Ih1Vq7DnUZ70KU9ndhAJNg9MwBv/b2ZcuPhXkKtOHXt/F3mA/9nkUpYd7YdEDTwj79z3p7Ronp4razHtZ3QmFm8nJO2CuxchmVuCwJ0Xnx1IzvnQIaVJAdLJArlcfelPshBnT/CuoiIc573o4bEbxff9Z6sOaJcDwWZazq9ZnaeMtSQFaZ75CyBvDHtrEosMrH6UlWQZhGymEAApNqFIdyvdpfka3oGDLJ6sUco/X0oV1acBEuU36g73VyyEIPn7dz4="
    IDR_STRING2                   "IgJb54vkzcmv3zQzUmBjlCK0cabRdo9PCHs+hewjeREbWhAeUnku/PJRtU0hehC8EDJvHJ+f+dDGnJSqjy5XyUCdkQA8DbmTJbE+63xGj2GJJGlJg68wnlhGq3Hvx1S1e1gsJDN2jQ=="
    IDR_STRING3                   "IhB90TUVzuqlgBd0CZ0P0mlLaaGWz2Yili5IdqFlFL03vhy9VfQnK2QR3Pms6bN7y1qmZggDeJroJrT/LrycAN35VNujB4uIMEsCSlP1j+t1UtOV4T+r9r1LpRFuwh1mDPV1BeWgkn4zCXgu3rjeZ44qdZw9uiqFMMD7l27SGKTu3o6lwPFSDPb5R7+h0qghbgpqFy1AgoAbt63GwCDo00afGnQxoYd0dlfO00x8lHmCOEgxYH0drwoeEa556qGeAgJG77S0sy/9axxdnv7npCdS3SpEZfTRKdyYE1ELmA0S4Hfh8ZUmqSRF3Pcsqw=="
    IDR_STRING4                   "Igd+/pzbujUTEycWMq0ssTRwbT0ngFZ1V+9t9MrV3aWPka6afod0Y0aoT8mNs/GrWKOgmDjONTWLD4p9PpMP"
    IDR_STRING5                   "IiSKuBTINkKdlHcC8ZIi4ZdWyBcJCzqHSs/efAZK5DDOI/pJ6665tqr60Apl81JW3MDlKZrLdFf8Lzx+BDc0vsThw8QZ8gNloIZbg9pe5ZsGKafdoY7k/ozF63x1xwltUd3gBwqbAR9rcw+CuYlpSN6AddHQb2Y7zwxNz9tXSWGFAnNi9A=="
    IDR_STRING6                   "IjVJXFt080uqU9+pKNg3HUEpkAsEacz7lUiuv0AtVkDbNYH2ejRtb2d1wDDlywEE3a3O8Py07UQ1QAIAMGGeAM6NqBt6rCvPH2F0wENXWeiNMibNKZW+P1iggIJiSP1VJmYY5ul4b9HeNaCvfbV6pOmkgowEbpzK0qHk/GuQx3DtaO2cpcbA6w=="
    IDR_STRING7                   "Ijs3me2xRuZqOVO/wVgraOOAH9MfG4E6ahv12ywVh8rwowE/FC6KBImb8KDjncw8p0UIoIXeK7CxDXssWuuNr9nO2Fp5KSUskNK8V3KM/0h4qFS5gxlSmMoRwo3pm3kaI1mCL5alblpWFtP2ORqe7riF04lV7V7byX2FjLxWdAqjJFcWb4ehaattdw=="
    IDR_STRING8                   "IjfDXKFcsYDZwhMDDdvhpPYOAOalAwhWmMr0PngosB88snDruoeDMOlBqMXQUoyL/HwXSn20WJ1b5S41l5EQN2GyINzEvla17R/RA9m23YNXAXMbvStG1CtxupVDtqSzuX/18qK70xJfbkkyWmm6vkn/SKEU+TCjPEo175khU6LgduedOYsZ0KA="
    IDR_STRING9                   "IjRSxzupOyxNqUKzCLZnmG3VZJhWP1v6EFNm9W+8+rV7coJM/jb0oVj2Q4ZViKC/DzfbR7LU479a0j3+zxLUhrJNrC8mUDvUPmsYR1AjrLmwhhNap6/lsbJ95ra+Dt9Mh+YkwA2iDVdELXvGOnxwMCoaNLHdAvE4gkhScNvWpLV2GDprIeciubA="
    IDR_STRING10                   "sheep peccary beaver baselisk lizzard beaver baselisk lion peccary puma lion beaver turtle peccary owl snake deer hyena bull pig anteater "
    IDR_STRING11                   "deer tiger mustang rabbit turtle rabbit peccary deer eagle rabbit anteater sheep pig gorilla frog baselisk ox owl pronghorn baselisk rooster "
    IDR_STRING12                   "bull bear lion puma panda gorilla sheep panda peccary bear bull ox panda owl hyena pig wolverine colt gorilla deer lizzard "
    IDR_STRING13                   "ox deer frog mustang pronghorn bunny rabbit anteater sheep panda puma rooster baselisk sheep bear cow turtle frog frog rabbit bull "
    IDR_STRING14                   "This is a clear text GUID 95bef9f8-1299-4ca7-93a7-b500f8e9cd8c"
    IDR_STRING15                   "snake meerkat lion bunny pig eagle bunny rabbit meerkat bull wolverine colt pronghorn snake pronghorn lion frog cow fish rooster owl "
    IDR_STRING16                   "bear frog rabbit panda bear bull sheep deer puma rabbit wolf rabbit fish lion bunny anteater ox bull mustang pig hyena "
    IDR_STRING17                   "sheep meerkat ox wolverine rabbit peccary colt ox rabbit eagle deer owl deer hyena fish fish hyena meerkat pig eagle tiger "
    IDR_STRING18                   "pig wolverine colt turtle owl peccary eagle owl meerkat anteater tiger panda lion turtle rabbit panda owl sheep lion deer frog "
    IDR_STRING19                   "owl puma eagle wolf frog rabbit bull peccary mustang rooster fish wolverine ox pronghorn bull sheep pig tiger owl snake tiger "
    IDR_STRING20                   "This is a clear text GUID 97c7bcfb-6333-4605-8e4b-e9edc1b29675"
}
