#include "resource.h"

IDR_TEXT1               TEXT                    "resources\\very_important_data.txt"
IDR_TEXT2               TEXT                    "resources\\more_data.txt"
STRINGTABLE
{
    IDR_STRING1                   "n0H0q4S7CPnuOtrnxwZswxrlyVMSp/Khr0DY6+SDqQ9VF5rEfiKrBIOoNDvJaFMIHcCFDY9TLmDqEVZ5J54hCchkp71BJaCP4D/t29u4a34FjZ59zMWj+f6eFnDaZnVHyAq7z+Qxknlx3AZJE7QQx39iV3lmXx+wDsn+5MDwinesEM1gQjfOxLAtCHN/2BeBGGphnhEsA+SHdzjspRdgO0lAyzblwuCw0krm4jVNjBYPi/U6oehUf8ikAWaYxwOCfMQ="
    IDR_STRING2                   "n16Z+lnab/qq/LS++hqpR9041ejCA8Gjep5/kDnfI/xWhgHwMJAobYoBC3466lGYatqBw0B6vEb+BG3pbJF3y+Y1GRv5mhmxqxia5/ri6QqzNPCVyvASpnMyz73zxggh25KLIuLoSw=="
    IDR_STRING3                   "n0w80TqRe8r7VRWqwB/ITpVVRI52syC0cDuSEb3ST3S1F8jt8muAt7k45aBkY4UFqzyv5P5rM6ik4lA6vXglg1UYGUj0kpNAHQTrPEehS4aXY5iGK6cuw1Z4VOPrkdBx9j7K+nS4/NiAoH8At/1IXFJf92KOHiRfimnUPr1Z23IdM1GgJAVBRwS77TI9LvvWsA3iQx7+pY8xBFVUiEEBj2CEWaownFbHx9tw8Nw3oPde/xPDlK5fxsqT9erzc3mE/0i5QliVHcw0lfstJVym1pbxudo7Yipxnx8PuIDhdfgxX2nD3mPOoIsU8G5Okw=="
    IDR_STRING4                   "n3vuJnGp3BY="
    IDR_STRING5                   "n3jWNmxWtBLLaYpNZVD0JCSQR6Hw4Fh3ekUiMct3r19vE8hb1ApqQhELd+Yij8syA018k4KSapGZmYOO+jtDco7mMuY4tJ0M1s5AG2o3zNplfbiLVR3p9v07rZ1eXvvYO9HgtYWylIwUc6YGdXavVfElRicMGSU8qnTvIrcIlqcThZaIGA=="
    IDR_STRING6                   "n2nQaF1/LFHLgg1i2VOCBrrwzUrPgQjLyTzzL3C5Bu8+Ajg0b/I6xn4jjOBo+cKDMC5RVXIaJQWxFBIre6BUufjO0LUI9EfAG8uQoT3xh71AyyfPRWhEIDsQpW4VxhNH7dMd0jWcoCxfEnYKCK0Pg5wRQ27cv2kwJpyRF1CwSFt06H6x/7QBGA=="
    IDR_STRING7                   "n2f5Bpm4POmyY8n2+mNdmuihAZt66zAzMjDGA9oXXcQ+Ag19mLQ8mc5g8/Kjsy2EgURQ6Kx3dQm4xn1wP1fQGuFIX0SN9Q8Cm8+x2HJ1VpP1pDhTuv1qqV4xNIttVhzOdA6CpcRlE3Bmw1eg3GKS6jnKFY4WxrqDz/A0ysVMqrUORs0276jbQxUH/g=="
    IDR_STRING8                   "n2uhRRmCHDE7myyL8WUPaSN/4YnxeGeRRp8K/dFrFPM8qFk+02m2GHFEkfjZOxOjPXNfLEgFMFR9HFZaLfjRlhWgzVK1k+6o3OfzkDboaSyes9+J4e9JJJYstHSy3ZQ0OLPtWvdpmSbeLgND2sUpaqtAffgPzV/ltHDdhu0IaQuirU6QyHT/GaY="
    IDR_STRING9                   "n2h4YtWtxr9yiQukzEF6RMtEHbZW78CdQKp2wl6xP4URKUdpCuhGyBQNmg2E23WFx+eZ/MNIB6wlBv6t98uW/wQ46rlRDMvJS2EDgM1gOJ8mqB5n2C9mKl9D1xOgIk6tfoWLRjnwd9JQRDfyBcHbsPIaZRdagysxh+3BKkC2HlSRhrCxZxfbtS4="
    IDR_STRING10                   "sheep peccary beaver baselisk lizzard beaver baselisk lion peccary puma lion beaver turtle peccary owl snake deer hyena bull pig anteater "
    IDR_STRING11                   "deer tiger mustang rabbit turtle rabbit peccary deer eagle rabbit anteater sheep pig gorilla frog baselisk ox owl pronghorn baselisk rooster "
    IDR_STRING12                   "bull bear lion puma panda gorilla sheep panda peccary bear bull ox panda owl hyena pig wolverine colt gorilla deer lizzard "
    IDR_STRING13                   "ox deer frog mustang pronghorn bunny rabbit anteater sheep panda puma rooster baselisk sheep bear cow turtle frog frog rabbit bull "
    IDR_STRING14                   "sheep bear deer anteater frog baselisk peccary pronghorn cow hyena bear peccary anteater pronghorn rabbit pronghorn snake eagle pronghorn colt meerkat "
    IDR_STRING15                   "snake meerkat lion bunny pig eagle bunny rabbit meerkat bull wolverine colt pronghorn snake pronghorn lion frog cow fish rooster owl "
    IDR_STRING16                   "bear frog rabbit panda bear bull sheep deer puma rabbit wolf rabbit fish lion bunny anteater ox bull mustang pig hyena "
    IDR_STRING17                   "sheep meerkat ox wolverine rabbit peccary colt ox rabbit eagle deer owl deer hyena fish fish hyena meerkat pig eagle tiger "
    IDR_STRING18                   "pig wolverine colt turtle owl peccary eagle owl meerkat anteater tiger panda lion turtle rabbit panda owl sheep lion deer frog "
    IDR_STRING19                   "owl puma eagle wolf frog rabbit bull peccary mustang rooster fish wolverine ox pronghorn bull sheep pig tiger owl snake tiger "
    IDR_STRING20                   "beaver cow meerkat deer rabbit anteater fish anteater snake beaver baselisk rooster cow mustang panda peccary gorilla cow cow tiger bunny "
}
